@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="pageParagraph">
    <p id="subHeadlines">Manage My Account</p>
    <hr />
    <div class="col-md-6">
        This is where the user will be able to update their account preferrences!
    </div>
</div>