@model TrashCollector.Models.Customer

@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="pageParagraph">
    <p id="subHeadlines">Manage My Account</p>
    <hr />
    <div class="col-md-6">
        Trash Mountain<br />
        Milwaukee, WI 53211<br />
        #414-WE-TRASH<br />
    </div>
</div>