@{
    ViewBag.Title = "";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div id="pageParagraph" class="about">
    <h4 id="subHeadlines">About Us</h4>
    <div class="col-md-12">       
        <hr />
        <p>
            Trash pickup made EASY. Our application reinvents what it means to have your garbage collected. Choose your pick-up dates, decide on
            weekly or bi-weekly pickups or postpone pick up at any time at your convenience. View account balance and make online payments.
            <hr />
        </p>
        <hr />
    </div>
</div>
