@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p id ="pageParagraph" class="about">Trash pickup made EASY. Our users are able to reinvent what it means to have your garbage collected. Choose your pick-up dates, decide on
    weekly or bi-weekly pickups or postpone pick up at any time at your convenience. View account balance and make online payments.
     </p>
