
@{
    ViewBag.Title = "FAQ";
}


<div id="pageParagraph">
    <h3 id="subHeadlines">Frequently Asked Questions</h3>
    <hr />
    <ul>
        <li>How often can I have my trash collected?</li>
            You can have your trash picked up once a week, or bi-weekly. Depending on what works for your schedule.
        <li>What if I go on vacation?</li>
            If you're gone for any period of time, you can postpone your trash pick-ups for as long as you need.
        <li>How do I make payments?</li>
            You can pay as you go with a credit card, or link your payPal account with our systems and we will automaticlaly withdraw your balance monthly.
        <li>How often are payments due?</li>
            Every month from the start of your first pick-up date.
        <li>Will Trash Collector share my information with third parties?</li>
            Never! Who do you think we are, Facebook?
    </ul>
    <hr />
</div>

