@{
    ViewBag.Title = "Home Page";
}

<div id ="mainHeadline"class="jumbotron">
    <h1>We are TRASH.</h1>
    <p class="lead">Trash Collector is a user-friendly wesbite where YOU are in control of your trash. Handle pick-up dates, payments and your account in one place! No hassle.</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Getting started</h2>
        <p>
            How to create a new account, and what to expect from our services.
        </p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Trash pick-ups</h2>
        <p>View a calendar and choose what days work best for you. Update at any time. Going on vacation? Put your trash pick up on hold!</p>
        <p><a class="btn btn-default" href="https://www.timeanddate.com/calendar/">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Hassleless payments</h2>
        <p>Learn more about our simple-to-use payment options.</p>
        <p><a class="btn btn-default" href="http://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
    </div>
</div>